* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pompiere';
  font-size: 22px;
  background-color: #f8f0e3; /* Couleur de fond beige pastel clair */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e8c2c5; /* Couleur du bandeau en vieux rose */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.logo-text {
  margin-left: 20px;
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 10px;
  }

  .logo img {
    width: 80px;
  }
}

.logo-text h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #333; /* Couleur du texte du texte introductif */
}

.logo-text p {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  color: #333; /* Couleur du texte du texte introductif */
}

nav {
  text-align: right; /* Aligner le menu à droite */
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 10px; /* Ajouter une marge entre les éléments du menu */
}

nav ul li:first-child {
  margin-left: 0; /* Supprimer la marge à gauche du premier élément du menu */
}
@media only screen and (max-width: 1100px) {
  nav ul li a {
    display: block;
    width: 100%;
	font-size: 12px;
    /* width: 200px; /* Ajustez la valeur pour augmenter la largeur des boutons */ */
	padding: 1px;
  }
}

@media only screen and (max-width: 1100px) {
  .logo-text h1,
  .logo-text p {
    font-size: 10px; /* Ajustez la taille de la police selon vos besoins */
  }
}

@media only screen and (max-width: 1100px) {
  .logo {
    max-width: 65%;; /* Ajustez la largeur maximale du texte introductif selon vos besoins */
  }
}


nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
   display: block;
    width: 100%;
}

main {
  max-width: 1200px;
  margin: 170px auto 20px; /* Ajouter une marge supérieure pour éviter le chevauchement avec le bandeau du haut */
  padding: 20px;
  background-color: #f8f0e3; /* Fond du corps du site en beige pastel clair */
}

@media only screen and (max-width: 1100px) {
  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px; /* Ajustez la valeur selon vos besoins */
  }
}
@media only screen and (max-width: 1100px) {
  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px; /* Ajustez la valeur selon vos besoins */
  }
}


section {
  margin-bottom: 40px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  margin-bottom: 10px;
}

p2 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 10px;
  color: #333; /* Couleur du texte dans les sections */
}

p {
  margin-bottom: 10px;
  color: #333; /* Couleur du texte dans les sections */
}

footer {
  background-color: #e8c2c5; /* Couleur du bandeau en vieux rose pour le pied de page */
  padding: 40px 0; /* Agrandir la hauteur du bandeau du bas */
  text-align: center;
  font-size: 14px;
}

.carousel-container {
  max-width: 80%; /* Ajustez cette valeur pour réduire la largeur du carousel */
  margin-left: 20px;
  /* margin: 0 left; /* Centre le carousel horizontalement */ */
}
@media only screen and (max-width: 1100px) {
	.carousel-container {
  max-width: 90%;
  }
	
/* Ajoutez ces règles CSS pour l'affichage sur les appareils mobiles */
@media only screen and (max-width: 1100px) {
  .logo img {
    width: 80px;
  }
  
  .logo-text h1 {
    font-size: 20px;
  }
  
  .main {
    margin-top: 220px;
  }
}
